.categories-bose {
  flex-direction: row;
  display: flex;
  padding-top: 65px;
}
.categories-item {
  padding-right: 25px;
}

.text-categories {
  margin-top: 16px;
}
@media (max-width: 1200px) {
  .categories-bose {
    justify-content: center;
  }
  .categories-item {
    width: 65%;
  }
  .imageTwo {
    width: 31%;
  }
  .text-categories {
    margin-left: 20px;
  }
}
@media (min-width: 580px) and (max-width: 992px) {
  .categories-item {
    width: 56%;
  }
  .imageTwo {
    width: 31%;
  }
  .text-categories {
    padding-left: 35px;
  }
  .text-categories {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .text-categories {
    margin-left: 0px;
  }
}
