.bose {
  width: 100%;
  height: max-content;
  padding: 64px 120px;
}
.recommended-items {
  padding-top: 65px;
  gap: 25px;
  display: flex;
  justify-content: center;
}
.textRec {
  text-align: center;
}

@media (max-width: 1200px) {
  .bose {
    padding: 120px 72px;
  }
  .recommended-items {
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .textRec {
    font-size: 32px;
  }
}
