.productsCategories {
}

.categories-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productsBose {
  text-align: center;
}
@media (min-width: 580px) and (max-width: 992px) {
}
