.image-footer .footer-mobile {
  padding-top: 120px;
  max-width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(100%);
  animation: slide-up 1.5s forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-mobile {
  display: none;
}
@media (max-width: 490px) {
  .image-footer {
    display: none;
  }
  .footer-mobile {
    width: 100vw;
    display: block;
    padding-top: 20px;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
